.banner {
  height: 100vh;
  background: linear-gradient(135deg, rgba(30, 30, 30, 0.6) 25%, rgba(30, 30, 30, 0.7) 75%),
  url("images/ushuaia.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature-header {
  color: white;
  font-size: 50px;
  margin-top: 0px;
}

.grey-wrapper {
  background-color: #202020;
  padding: 20px 0px;
}

.feature-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 0px;
  margin-top: 10px;
}

.banner-button {
  background-color: #2980b9;
  color: white;
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 50px;
  transition: 0.3s ease all;
}

.banner-button:hover {
  color: white;
  text-decoration: none;
  background-color: #29506a;
}

.banner p {
  color: #dedede;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.banner h1 {
  color: #ffffff;
  font-size: 90px;
  margin-top: 0px;
  font-family: sans-serif;
  font-family: 'Oswald', sans-serif;
}

.red-back {
  background-color: red;
  height: 200px;
  margin: 20px;
}

.blue-back {
  background-color: blue;
  height: 200px;
  margin: 20px;
}

ul > li > a {
  color: #3498db;
  font-size: 55px;
  transition: 0.3s ease all;
}

ul > li > a:hover {
  color: #36607c;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #363636;
}

.red-header {
  color: #d32222;
}

.green-header {
  color: #2ecc71;
}

.footer {
  background-color: #bdc3c7;
  color: black;
  min-height: 20vh;
  padding: 30px;
}

.footer p {
  font-size: 20px;
}

#yellow-header {
  color: #f1c40f;
}


/*div {
  border: solid red 1px;
  background-color: #cecece;
  border-radius: 10px;
  box-shadow: 2px 3px 3px blue;
  margin: 30px;
}*/


